/* Meris Hedra */

.meris-hedra
.styledKnob circle,
.meris-hedra
.styledKnob path {
  fill: #AEAFB1;
  opacity: 0.4;
  transition:
    opacity 100ms,
    color 100ms
    ease-in-out;
}

.styledKnob circle,
.styledKnob path {
  fill: #000000;
  opacity: 0.4;
  transition:
    opacity 100ms,
    color 100ms
    ease-in-out;
}

.styledKnob:hover circle,
.styledKnob:hover path,
.styledKnob:focus circle,
.styledKnob:focus path {
  opacity: 1 !important;
  transition:
    opacity 450ms,
    color 450ms
    ease-in-out;
}

.styled-knob{
  position: relative;
}

.hidden-range{
  position: absolute;
  top: 22px;
  opacity: 0;
  height: 100px;
  width: 80px;
  background: red;
}