@import url("ywft-ultramagnetic-light.css");
@import url("nav.css");
@import url("macros_modal.css");
@import url("presets_modal.css");
@import url("midi_config_modal.css");
@import url("custom_select.css");
@import url("custom_slider.css");
@import url("midi_channel_input.css");
@import url("presets_builder_and_editor.css");
@import url("meris_enzo.css");
@import url("meris_hedra.css");
@import url("meris_polymoon.css");
@import url("meris_mercury7.css");
@import url("meris_ottobit_jr.css");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  background: honeydew;
}

* {
  text-transform: uppercase;
  box-sizing: border-box;
  font-family: "YWFTUltramagnetic-Light", sans-serif;
}

a:hover {
  cursor: pointer !important;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.invisible {
  visibility: hidden;
}

.view-port {
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 90%;
}
.pull-right {
  float: right;
}
.pedal-selector {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15%;
}
.pedal-selector a {
  margin: 10px;
}
.pedal-selector a:hover {
  cursor: pointer;
}

.pedal-option > span > img {
  transition: all 0.3s ease-in-out;
}

.main-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100vh;
  overflow: hidden;
}

.expression-container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 15%;
  height: 820px;
}
.expression {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 350px;
  position: absolute;
  top: 230px;
}

.tempo {
  bottom: 15px;
}

.expression > label,
.tempo span {
  font-size: 25px;
}
.expression > input[type="range"] {
  transform: rotate(-90deg);
  width: 500px;
  margin: 20.8px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
.expression > input[type="range"]:focus {
  outline: none;
}
.expression > input[type="range"]::-webkit-slider-runnable-track {
  background: #000000;
  border: 0.2px solid #010101;
  border-radius: 1.3px;
  width: 2000px;
  height: 26px;
  cursor: pointer;
}
.expression > input[type="range"]::-webkit-slider-thumb {
  margin-top: -21px;
  width: 26px;
  height: 66px;
  background: #ffffff;
  border: 1px solid #000000;
  cursor: pointer;
  -webkit-appearance: none;
}
.expression > input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #0d0d0d;
}
.expression > input[type="range"]::-moz-range-track {
  background: #000000;
  border: 0.2px solid #010101;
  border-radius: 1.3px;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}
.expression > input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 50px;
  background: #ffffff;
  border: 1px solid #000000;
  cursor: pointer;
}
.expression > input[type="range"]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 21.8px 0;
  color: transparent;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}
.expression > input[type="range"]::-ms-fill-lower {
  background: #000000;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
.expression > input[type="range"]::-ms-fill-upper {
  background: #000000;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
.expression > input[type="range"]::-ms-thumb {
  width: 16px;
  height: 50px;
  background: #ffffff;
  border: 1px solid #000000;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
.expression > input[type="range"]:focus::-ms-fill-lower {
  background: #000000;
}
.expression > input[type="range"]:focus::-ms-fill-upper {
  background: #0d0d0d;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align: auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  .expression > input[type="range"] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}

.text-center {
  text-align: center;
}

.presets-button-container {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  width: 916px;
  margin: 5px;
}

.presets-button {
  width: 468px;
  align-self: center;
}

.page-state,
.fullscreen {
  width: 150px;
}

.presets-button,
.page-state,
.fullscreen {
  font-weight: 100;
  height: 62px;
  background: white;
  color: black;
  font-size: 25px;
  border: 3px solid;
  transition: 0.1s linear;
}

.presets-button.open {
  background: black;
  color: white;
}

.presets-button:not(:disabled):hover,
.page-state:hover,
.fullscreen:hover {
  background: black;
  color: white;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* MACROS PEDALS */
.macro-display {
  display: flex;
  flex-flow: row wrap;
  align-content: baseline;
  justify-content: left;
  flex-direction: row;
  gap: 60px;
  width: 916px;
  height: 715px;
  margin: 30px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.macro {
  border: 3px solid;
  height: 150px;
  width: 150px;
  background: white;
  align-items: center;
  display: flex;
  justify-content: center;
}

.macro.selected {
  color: white;
  background: linear-gradient(to top, #fff 50%, #000 50%);
  background-size: 100% 200%;
  background-position: top left;
  transition: all 0.5s ease-out;
}

.macro-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.macro-name {
}

/* MERIS PEDALS */

.meris-pedal {
  font-family: "YWFTUltramagnetic-Light", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 30px;
}

.text-reset {
  text-transform: none !important;
}

/*  buttons */
.pad-button {
  margin: 0 auto;
}

.pad-button:active > label {
  font-size: 15px;
}

.tap-button-container {
  position: relative;
}
.tap {
  position: absolute;
  left: 135px;
  bottom: 42px;
}
.bypass {
  position: absolute;
  right: 105px;
  bottom: 42px;
}

.pad-button.selected,
.tap-button:active {
  background-color: black !important;
  border: white;
  color: white;
  transition: background-color, border, color linear 0.05s;
}

.knob:hover,
.knob > input:hover,
.pad-button:hover,
.controls > details:hover {
  cursor: pointer;
}

.hidden {
  display: none !important;
}

@keyframes blink-animation {
  75% {
    background-color: black;
  }
}
@-webkit-keyframes blink-animation {
  75% {
    background-color: black;
  }
}

.tempo-dot {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  right: -40px;
  bottom: 60px;
}

/* LARGE SCREENS */

@media (min-width: 1400px) {
  .view-port {
    max-width: 1615px;
    min-height: 100vh;
  }
}

/* DESKTOP TEMPLATE */
@media (min-width: 992px) {
  .view-port {
    min-height: 100vh;
  }
}

/* TABLET ONLY TEMPLATE */
@media (min-width: 768px) and (max-width: 991px) {
  .view-port {
    min-height: 100vh;
  }
}

@media (max-width: 1340px) and (orientation: landscape) {
  .view-port {
    margin: 0;
  }
  .meris-pedal,
  .macro-display {
    margin: -65px 0 -40px 0;
  }
  .main-display {
    margin-top: 20px;
    gap: 20px;
  }
  .meris-pedal,
  .presets-button-container,
  .macro-display {
    transform: scale(0.8);
  }
  .nav-menu.open {
    overflow-y: auto;
  }
  .expression-container {
    height: 100vh;
  }
  .pedal-selector,
  .expression-container {
    transform: scale(0.8);
  }
}

/* TABLET AND MOBILE TEMPLATE */
@media (max-width: 991px) and (orientation: portrait) {
  .view-port {
    transform: rotate(90deg) scale(0.83);
    top: 10vh;
    position: absolute;
    width: 120vh;
    height: 120vw;
  }
}

/* MOBILE TEMPLATE */
@media (max-width: 767px) {
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: var(--animate-duration);
  animation-duration: var(--animate-duration);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
