html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

* {
  box-sizing: border-box;
  font-family: 'YWFTUltramagnetic-Light', sans-serif;
}


.main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-nav{
  height: 10vh;
  width: 100vw;
  background:black;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

nav{
  color:white;
  width: 90vw;
  height: 5vh;
  display: flex;
  align-items: center;
}


.nav-button{
  display: flex;
  flex-direction: column;
}

.nav-button > .line{
  width: 58px;
  border-bottom: 3px solid #FFFFFF;
  transition:.1s linear;
}

.nav-button > .line:not(:first-of-type){
  margin-top:18px;
}

.nav-button.open > .line.first{
  transform: rotate(-45deg) translateY(5px) translateX(-10px);
}

.nav-button.open > .line.second{
  transform: rotate(45deg) translateY(-5px) translateX(-10px);
}

.nav-menu.closed{
  opacity: 0;
}

.nav-menu.open{
  border: 1px solid red;
  width: 100vw;
  position: absolute;
  left: 0;
  height: 90vh;
  top: 10vh;
  background: black;
  opacity: 1;
  transition:.1s linear;
}

.container {
  display: flex;
  margin-top: 15vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-display{
  display: flex;
  flex-direction: column;
}

.pedal-selector{
  display: flex;
  flex-direction: column;
}

.pedal-selector a{
  flex: 1;
}
.text-center{
  text-align: center;
}

.presets-button{
  font-weight: 100;
  width: 468px;
  height: 62px;
  margin-top: 48px;
  background: white;
  color: black;
  font-size: 25px;
  border: 3px solid;
}

/* MERIS PEDALS */

.meris-pedal{
  font-family: 'YWFTUltramagnetic-Light', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  position: relative;
}

.text-reset{
  text-transform: none !important;
}

/*  buttons */
.pad-button{
  margin:0 auto;
}

.pad-button:active > label{
  font-size: 15px;
}

.pad-button.selected, .tap-button:active{
  background-color: black !important;
  border: white;
  color: white;
  transition: background-color, border, color linear .05s;
}

.knob:hover,
.knob > input:hover,
.pad-button:hover,
.controls > details:hover{
  cursor: pointer;
}

.hidden{
  display: none !important;
}


.preset-groups-container{
  position: relative;
}

.controls{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.preset-groups, .slider-controls, .midi-controls, .pedal-config{
  z-index: 5;
  flex: 3;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 16px;
  background: #282828;
}

.preset-groups div{
  display: flex;
  flex-direction: row;
}


.controls > details{
  color: white;
  margin: 0 auto ;
  background: #282828;
  box-shadow: 0 .1rem 1rem -.5rem rgba(0,0,0,.4);
}

.controls > details > summary{
  padding: 50px 20px;
  font-weight: bold;
  cursor: pointer;
}

details {
  margin: 1.3rem 0;
  border-bottom: 1px solid #aaa;
  padding: 0.5rem;
  height: auto;
  transition: all 0.1s ease;
}

details[open] {
  transition: all 1s ease;
}
/* THE MAGIC 🧙‍♀️ */
details[open] > summary:before {
  transform: rotate(90deg);
}


details summary::-webkit-details-marker {
  display:none;
}


/*

 remove below when ready


*/

.pedal-container{
  margin-bottom: 20px;
}

/* CUSACK SWITCHERS */

.pedal-tamer{
  border: 2px solid #b4cfb0;
  padding: 20px;
  margin-bottom:10px
}

/* MERIS MIDI IO */

.meris-midi-io{
  border: 1px solid black;
  padding: 20px;
  margin-bottom: 10px;
}

.expression-pedal{
  border: 3px solid grey;
}

.meris-enzo{
  border: 1px solid #DEAE1B;
  background: #DEAE1B;
}

.meris-hedra{
  border: 1px solid #CFCFCF;
  background: #CFCFCF;
}

.meris-mercury7{
  border: 1px solid #286BB3;
  background: #286BB3;
  color: #FFFFFF;
}

.meris-polymoon{
  border: 1px solid #EBE8E5;
  background: #EBE8E5; 
}

.meris-ottobit-jr{
  border: 1px solid #212121;
  background: #212121;
  color: #FFFFFF;
}

button{
  margin: 10px auto 5px;
  display: block;
  font-weight: bold;
}

.interface{
  width: 700px;
  padding: 15px;
  text-transform: uppercase;
}

.controls, .alt-controls, .channel-input{
  display: flex;
  flex-direction: row;
}

.channel-input{
  flex: 12;
  margin-bottom: 50px
}

.channel-input > .midi-channel-input{
  flex: 1;
}

.channel-input > .presets-container{
  flex: 3;
}

.left-controls, .center-controls, .right-controls,
.alt-left-controls, .alt-center-controls, .alt-right-controls{
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: space-between;
}

.alt-left-above-tap.active > button{
  background: #FBEF00;
}

.left-controls, .alt-left-controls{
  flex: 1;
  order: 1;
}

.center-controls, .alt-center-controls{
  flex: 1;
  order: 2;
}
.right-controls, .alt-right-controls{
  flex: 1;
  order: 3; 
}

.left-controls div, .center-controls div, .right-controls div,
.alt-left-controls div, .alt-center-controls div, .alt-right-controls div{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.left-top, .center-top, .right-top,
.alt-left-top, .alt-center-top, .alt-right-top{
  order: 1;
}
.left-middle, .center-middle, .right-middle,
.alt-left-middle, .alt-center-middle, .alt-right-middle{
  order: 2;
}

.right-above-bypass, .left-above-tap,
.alt-right-above-bypass, .alt-left-above-tap{
  order: 3;
}

.left-bottom, .right-bottom,
.alt-left-bottom, .alt-right-bottom{
  order: 4;
}