.meris-hedra-bigbox{
  width: 916px;
  margin-bottom: 48px;
  height: 715px;
  padding: 20px;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: white;
  border: 3px solid;
}

.meris-hedra-bigbox:after{
	content: url(./meris_hedra/logo.svg);
	position: absolute;
	bottom: 30px;
  transform: scale(.95);
	left: calc(50% - (247px/2) + 30px);
}

.flex-row:last-of-type{
  flex:1;
}

.text-center > label{
  margin-top: 1px;
}

.mix:before,
.portamento:before,
.delay-level:before{
	content: url(./meris_hedra/generic_big_knob.svg);
	position: absolute;
	top:-12px;
	left: 1px;
}

.filter{
	margin-top: 59px !important;
}

.filter:before,
.ring-modulation:before,
.sustain:before,
.modulation:before,
.pitch-correction-and-glide:before,
.td1:before,
.td2:before,
.td3:before,
.filter-bandwidth:before{
	content: url(./meris_hedra/generic_little_knob.svg);
	position: absolute;
	top: -10px;
  left: 19px;
}

.pitch1:before, .pitch2:before, .pitch3:before{
  content: url(./meris_hedra/pitch.svg);
  position: absolute;
  left: 1px;
  top: -20px;
}

.delay-mode{
  display: flex;
  flex-direction: column;
}
.delay-mode > div{
  flex: 2;
}
.delay-mode > label{
  flex: 2;
}
.key:before{
	content: url(./meris_hedra/key.svg);
	position: absolute;
	top: -22px;
  left: -3px;
}

.middle-controls{
  flex: 1.45;
}

.left-side-controls,
.right-side-controls{
  flex: 2;
  flex-direction: column;
}

.left-side-controls > .first-row{
  flex: 1;
  justify-content: flex-end;
  margin-top: 15px;
}
.right-side-controls > .first-row{
  flex: 1;
  justify-content: flex-start;
  margin-top: 15px;
  margin-left:-15px;
}

.left-side-controls > .tap{
  flex: 1;
  justify-content: center;
}

.scale-type{
  margin-left: -30px;
}

.scale-type > div, .envelope-type > div{
  margin-bottom: 15px;
}

.scale-type > div > div{
  margin-left: 15px;
} 

.tap-button{
  flex: 2;
  margin-top: 20px !important;
}

.tap-button > div, .bypass > div{
  margin-bottom: 15px;
}

.bypass{
  flex: 2;
  margin-top: 30px;
}

.bypass > div > div{
  margin-right: 15px;
}

.bypass > label{
  margin-right: 9px;
}