@media (min-width: 916px){
  .meris-enzo-bigbox{
    width: 916px;
  }
}

@media (max-width: 915px){
  .meris-enzo-bigbox{
    width: 101vw;
  }
}
.meris-enzo-bigbox{
  margin-bottom: 48px;
  height: 715px;
  padding: 20px;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: white;
  border: 3px solid;
}

.meris-enzo-bigbox:after{
	content: url(./meris_enzo/logo.svg);
	position: absolute;
	bottom: 30px;
	left: calc(50% - (148px/2));
}

.flex-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-row > .top-row{
  margin: 45px 14px 24px;
}

.flex-row > .middle-row{
  margin: 16px -1px 16px;
}

.flex-row > .bottom-row{
  margin: 16px 14px 16px;
}

.flex-row:last-of-type{
  flex:1;
}

.text-center > label{
  margin-top: 1px;
}

.mix:before,
.portamento:before,
.delay-level:before{
	content: url(./meris_enzo/generic_big_knob.svg);
	position: absolute;
	top:-12px;
	left: 1px;
}

.filter{
	margin-top: 59px !important;
}

.filter:before,
.ring-modulation:before,
.sustain:before,
.modulation:before,
.delay-feedback:before,
.filter-bandwidth:before{
	content: url(./meris_enzo/generic_little_knob.svg);
	position: absolute;
	top: -10px;
  left: 19px;
}

.filter-env{
  margin-top: 3px !important;
}

.filter-env:before{
	content: url(./meris_enzo/filter_env.svg);
	position: absolute;
	top: -15px;
  left: 2px;
}

.pitch:before{
	content: url(./meris_enzo/pitch.svg);
	position: absolute;
	top: -22px;
  left: -8px;
}

.middle-controls{
  flex: 1.45;
}

.left-side-controls,
.right-side-controls{
  flex: 2;
  flex-direction: column;
}

.left-side-controls > .first-row{
  flex: 1;
  justify-content: flex-end;
  margin-top: 15px;
}
.right-side-controls > .first-row{
  flex: 1;
  justify-content: flex-start;
  margin-top: 15px;
  margin-left:-15px;
}

.left-side-controls > .tap{
  flex: 1;
  justify-content: center;
}

.wave-shape{
  flex: 1;
}
.filter-type, .envelope-type, .synth-mode{
  flex: 2;
}

.synth-mode{
  margin-right: 20px;
}

.filter-type{
  margin-left: -15px;
}

.wave-shape > div {
  margin-bottom: 15px;
}

.filter-type > div, .envelope-type > div, .synth-mode  > div > div {
  margin-bottom: 15px;
}

.filter-type > div > div, .synth-mode  > div > div{
  margin-left: 15px;
} 

.tap-button{
  flex: 2;
  margin-top: 20px;
}

.tap-button > div, .bypass > div{
  margin-bottom: 15px;
}

.bypass{
  flex: 2;
  margin-top: 30px;
}

.bypass > div > div{
  margin-right: 15px;
}

.bypass > label{
  margin-right: 9px;
}