.meris-ottobit-jr-bigbox {
  width: 916px;
  margin-bottom: 48px;
  height: 715px;
  padding: 20px;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: black;
  border: 3px solid;
}

.meris-ottobit-jr-bigbox:after {
  content: url(./meris_ottobit_jr/logo.svg);
  position: absolute;
  bottom: 30px;
  left: calc(50% - (223px / 2));
}

.meris-ottobit-jr-bigbox span,
.meris-ottobit-jr-bigbox .tap label,
.meris-ottobit-jr-bigbox .bypass label {
  color: white;
}

.meris-ottobit-jr-bigbox .bypass .pad-button.not-selected label {
  color: black !important;
}

.meris-ottobit-jr-bigbox .knob > div:first-of-type {
  border: 1px solid white;
}

.pad-button.selected,
.tap-button:active {
  background-color: white !important;
  border: black;
  color: black;
  transition: background-color, border, color linear 0.05s;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-row > .top-row {
  margin: 45px 14px 24px;
}

.flex-row > .middle-row {
  margin: 16px -1px 16px;
}

.flex-row > .bottom-row {
  margin: 16px 14px 16px;
}

.flex-row:last-of-type {
  flex: 1;
}

.sample-rate:before,
.bits:before {
  content: url(./meris_ottobit_jr/generic_big_knob.svg);
  position: absolute;
  top: -12px;
  left: 1px;
}

.stutter:before {
  content: url(./meris_ottobit_jr/stutter.svg);
  position: absolute;
  top: -12px;
  left: 16px;
}

.sequencer:before {
  content: url(./meris_ottobit_jr/sequencer.svg);
  position: absolute;
  top: -12px;
  left: 5px;
}

.sequencer {
  margin-top: 3px !important;
}

.sequencer-mult:before {
  content: url(./meris_ottobit_jr/sequencer_mult.svg);
  position: absolute;
  top: -13px;
  left: 11px;
}

.feedback {
  margin-top: 59px !important;
}

.meris-ottobit-jr-bigbox .filter:before,
.step:before {
  content: url(./meris_ottobit_jr/generic_little_knob.svg);
  position: absolute;
  top: -11px;
  left: 19px;
}

.sequencer-type {
  position: absolute;
  right: 50px;
  top: 50px;
}
.sequencer-type > div {
  margin-bottom: 15px;
}
.sequencer-type > label {
  color: white;
}

.meris-ottobit-jr-bigbox .middle-controls {
  flex: 4;
}

.left-side-controls,
.right-side-controls {
  flex: 3;
  flex-direction: column;
}

.meris-ottobit-jr-bigbox .left-side-controls > .first-row {
  flex: 1;
  justify-content: flex-end;
  margin-top: 15px;
}
.meris-ottobit-jr-bigbox .right-side-controls > .first-row {
  flex: 1;
  justify-content: flex-start;
  margin-top: 15px;
  margin-left: -15px;
}

.meris-ottobit-jr-bigbox .left-side-controls > .tap {
  flex: 1;
  justify-content: center;
}
