.meris-mercury7-bigbox {
  width: 916px;
  margin-bottom: 48px;
  height: 715px;
  padding: 20px;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: #286bb3;
  border: 3px solid;
}

.meris-mercury7-bigbox:after {
  content: url(./meris_mercury7/logo.svg);
  position: absolute;
  bottom: 30px;
  left: calc(50% - (243px / 2));
}

.meris-mercury7-bigbox span,
.meris-mercury7-bigbox .tap label,
.meris-mercury7-bigbox .bypass label {
  color: white;
}

.meris-mercury7-bigbox .bypass .pad-button.not-selected label {
  color: black !important;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-row > .top-row {
  margin: 45px 14px 24px;
}

.flex-row > .middle-row {
  margin: 16px -1px 16px;
}

.flex-row > .bottom-row {
  margin: 16px 14px 16px;
}

.flex-row:last-of-type {
  flex: 1;
}

.meris-mercury7-bigbox .mix:before,
.pre-delay:before,
.space-decay:before,
.pitch-vector-mix:before {
  content: url(./meris_mercury7/generic_big_knob.svg);
  position: absolute;
  top: -12px;
  left: 1px;
}

.modulate {
  margin-top: 59px !important;
}

.modulate:before,
.density:before,
.low-frequency:before,
.high-frequency:before,
.vibrato-depth:before,
.mod-speed:before,
.attack-time:before {
  content: url(./meris_mercury7/generic_little_knob.svg);
  position: absolute;
  top: -10px;
  left: 19px;
}

.pitch-vector:before {
  content: url(./meris_mercury7/pitch_vector.svg);
  position: absolute;
  top: -22px;
  left: 1px;
}

.pitch-vector {
  margin-top: 3px !important;
}

.meris-mercury7-bigbox .middle-controls {
  flex: 4;
}

.left-side-controls,
.right-side-controls {
  flex: 2;
  flex-direction: column;
}

.meris-mercury7-bigbox .left-side-controls > .first-row {
  flex: 1;
  justify-content: flex-end;
  margin-top: 15px;
}
.meris-mercury7-bigbox .right-side-controls > .first-row {
  flex: 1;
  justify-content: flex-start;
  margin-top: 15px;
  margin-left: -15px;
}

.meris-mercury7-bigbox .left-side-controls > .tap {
  flex: 1;
  justify-content: center;
}

.half-speed,
.flanger-feedback,
.algorithm,
.dotted-eighth {
  flex: 2;
}

.algorithm > label {
  color: white;
}

.half-speed > div,
.flanger-feedback > div,
.dotted-eighth > div,
.algorithm > div > div {
  margin-bottom: 15px;
}

.tap-button {
  flex: 2;
  margin-top: 20px !important;
}

.tap-button > div,
.bypass > div {
  margin-bottom: 15px;
}

.bypass {
  flex: 2;
  margin-top: 30px;
}

.bypass > div > div {
  margin-right: 15px;
}

.bypass > label {
  margin-right: 9px;
}
