.meris-hedra-bigbox{
  width: 916px;
  margin-bottom: 48px;
  height: 715px;
  padding: 20px;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: white;
  border: 3px solid;
}

.meris-hedra-bigbox:after{
	content: url(./meris_hedra/logo.svg);
	position: absolute;
	bottom: 30px;
  transform: scale(.95);
	left: calc(50% - (247px/2) + 30px);
}

.flex-row:last-of-type{
  flex:1;
}

.text-center > label{
  margin-top: 1px;
}

.mix:before,
.scale-type:before,
.delay-level:before{
	content: url(./meris_hedra/generic_big_knob.svg);
	position: absolute;
	top:-12px;
	left: 1px;
}

.meris-hedra-bigbox .second-row{
  margin-right: -129px;
}

.pitch2{
  margin-top: 3px !important;
}

.micro-tune{
  margin-top: 58px !important;
}

.pitch-correction-and-glide:before,
.micro-tune:before,
.td1:before,
.td2:before,
.td3:before,
.filter-bandwidth:before{
	content: url(./meris_hedra/generic_little_knob.svg);
	position: absolute;
	top: -10px;
  left: 19px;
}

.pitch1:before, .pitch2:before, .pitch3:before{
  content: url(./meris_hedra/pitch.svg);
  position: absolute;
  left: 1px;
  top: -20px;
}

.delay-mode{
  display: flex;
  flex-direction: column;
  margin-top: 25px !important;
}
.delay-mode > div > div{
  margin: 10px;
}
.delay-mode > label{
  flex: 2;
}
.key:before{
	content: url(./meris_hedra/key.svg);
	position: absolute;
	top: -22px;
  left: -3px;
}

.meris-hedra-bigbox .left-side-controls{
  margin-top: -130px;
  /*margin-left: -102px;*/
}

.meris-hedra-bigbox .right-side-controls{
  margin-top: -20px;
}

.meris-hedra-bigbox .right-side-controls  .delay-mode{
  margin-right: -25px !important;
}

.on-off-row > div{
  margin-left: -30px;
  margin-bottom: 22px;
}

.meris-hedra-bigbox .tap{
  margin-right: -12px;
}

.bypass{
  flex: 2;
  margin-top: 30px;
}

.bypass > div > div{
  margin-right: 15px;
}

.bypass > label{
  margin-right: 9px;
}