.nav-button {
  display: flex;
  position: absolute;
  top: 30px;
  left: 30px;
  flex-direction: column;
}

.nav-button:hover {
  cursor: pointer;
}

.nav-button > .line {
  width: 58px;
  border-bottom: 3px solid #ffffff;
  transition: 0.1s linear;
}

.nav-button > .line:not(:first-of-type) {
  margin-top: 15px;
}

.nav-button.open > .line.first {
  transform: rotate(-45deg) translateY(3px) translateX(-10px);
}

.nav-button.open > .line.second {
  transform: rotate(45deg) translateY(-3px) translateX(-8px);
}

.nav-menu.closed {
  opacity: 0;
}

.nav-menu > .options-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-menu > .options-block:first-of-type {
  margin: 50px 0;
}

.nav-menu > .options-block > label,
.midi-options > label {
  font-size: 25px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  width: 100%;
  padding: 25px;
}

.nav-menu > .options-block > hr {
  width: 80vw;
}

.midi-options,
.control-options {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 80vw;
  height: 50vh;
  align-items: center;
}

.channels-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.channels-block > div {
  width: 150px;
}

.midi-options > div,
.control-options > div {
  margin: 0px 150px;
}

.nav-menu > .options-block > div {
  margin-top: 50px;
}

.custom-slider-container:not(:first-of-type) {
  margin-top: 50px;
}
.menu-knob-container .menu-knob > div:first-of-type {
  border: 1px solid white;
}
.menu-knob-container .menu-knob input {
  top: -22px;
}

.red-dot {
  height: 20px;
  width: 20px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  right: -10px;
  top: -15px;
}

:fullscreen .fullscreen.full,
.fullscreen.normal {
  display: none;
}

.fullscreen.full,
:fullscreen .fullscreen.normal {
  display: block;
}
