.preset-create-container,
.preset-edit-container {
  color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.preset-create-container > .pedal-layouts > a,
.preset-create-container > .pedal-layouts > span,
.preset-edit-container > .pedal-layouts > a,
.preset-edit-container > .pedal-layouts > span {
  color: white;
  font-size: 25px;
}

.presets-pedal-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.presets-pedal-layout > label {
  font-size: 25px;
}

.pedal-layouts{
  position: relative;
}

.pedal-layouts > .arrow{
  content: url(./arrow.svg);
  position: absolute;
  bottom: 12px;
}

.pedal-layouts > .arrow.left{
  transform: rotate(90deg);
  left: 95px;
}

.pedal-layouts > .arrow.right{
  transform: rotate(270deg);
}