.preset-create-container,
.preset-edit-container {
  color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.preset-create-container > .pedal-layouts > a,
.preset-create-container > .pedal-layouts > span,
.preset-edit-container > .pedal-layouts > a,
.preset-edit-container > .pedal-layouts > span {
  color: white;
}

.presets-pedal-layout{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.presets-pedal-layout > label{
  font-size: 25px;
}